{% extends "base.html" %}

{% block title %}Home | Hal9000{% endblock %}

{% block content %}

<div class="parallax " ng-controller="HomeCtrl">

    <div class="slider_block parallax__group">
    
        <div class="slider_block_back parallax__layer">
        </div>

        <div class="slider_block_content container parallax__layer">
            <h1>The Best Solution on Custom Drones</h1>
            <h2>Bacon ipsum dolor amet chuck pork loin shoulder</h2>
            <button class="btn btn-primary btn-raised shadow-z-2">Check us</button>
        </div>
        
    </div>
	<div class="services_block parallax__group ">
        <div class="services_content container">
            <div class="col-md-12">
	            <h1>Services</h1>
	            <h2>WHO SEEKS AFTER IT AND WANTS TO HAVE IT</h2>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
        </div>
        
    </div>
    <div class="seller_block parallax__group">
    
        <div class="seller_block_back parallax__layer">
        </div>

        <div class="seller_block_content container parallax__layer">
            <h1>This is Why People Love Us</h1>
            <p>Material UI Bootstrap APP and Business Template orem ipsum dolor sit amet, consectetur adipIusto quisquam idodit dolore inventore eumetur adipIusto quisquam idodit dolore inventore eum' dolor sit amet, consectetur adipIusto quisquam idodit dolore inventore</p>
        </div>
        
    </div>
    <div class="services_block parallax__group ">
        <div class="services_content container">
            <div class="col-md-12">
	            <h1>Services</h1>
	            <h2>WHO SEEKS AFTER IT AND WANTS TO HAVE IT</h2>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
            <div class="services_card col-md-4">
            	<i class="mdi-action-query-builder"></i>
            	<div class="services_card_content">
            		<h4>Time is money</h4>
            		<p>Bacon ipsum dolor amet chuck pork loin shoulder, tenderloin tail ham kevin jowl pork t-bone turducken</p>
            	</div>
            </div>
        </div>
        
    </div>
</div>


{% endblock %} 



{% block extrascript %}
<script src='/static/home/home.controller.js'></script>
{% endblock %} 